/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}

.btn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .d-flex > .btn {
    flex: 1;
  }
  
  .carbonads {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    overflow: hidden;
    padding: 1rem;
  }
  
  .carbon-wrap {
    overflow: hidden;
  }
  
  .carbon-img {
    clear: left;
    display: block;
    float: left;
  }
  
  .carbon-text,
  .carbon-poweredby {
    display: block;
    margin-left: 140px;
  }
  
  .carbon-text,
  .carbon-text:hover,
  .carbon-text:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .carbon-poweredby,
  .carbon-poweredby:hover,
  .carbon-poweredby:focus {
    color: #ddd;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .carbonads {
      float: right;
      margin-bottom: -1rem;
      margin-top: -1rem;
      max-width: 360px;
    }
  }
  
  .footer {
    font-size: 0.875rem;
  }
  
  .heart {
    color: #ddd;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .heart:hover {
    color: #ff4136;
  }
  
  .heart::before {
    border-top: 1px solid #eee;
    content: " ";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }
  
  .heart::after {
    background-color: #fff;
    content: "♥";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    z-index: 1;
  }
  
  .img-container,
  .img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
  }
  
  .img-container {
    margin-bottom: 1rem;
    max-height: 497px;
    min-height: 200px;
  }
  
  @media (min-width: 768px) {
    .img-container {
      min-height: 497px;
    }
  }
  
  .img-container > img {
    max-width: 100%;
  }
  
  .docs-preview {
    margin-right: -1rem;
  }
  
  .img-preview {
    float: left;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
  }
  
  .img-preview > img {
    max-width: 100%;
  }
  
  .preview-lg {
    height: 9rem;
    width: 16rem;
  }
  
  .preview-md {
    height: 4.5rem;
    width: 8rem;
  }
  
  .preview-sm {
    height: 2.25rem;
    width: 4rem;
  }
  
  .preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
  }
  
  .docs-data > .input-group {
    margin-bottom: 0.5rem;
  }
  
  .docs-data .input-group-prepend .input-group-text {
    min-width: 4rem;
  }
  
  .docs-data .input-group-append .input-group-text {
    min-width: 3rem;
  }
  
  .docs-buttons > .btn,
  .docs-buttons > .btn-group,
  .docs-buttons > .form-control {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
  }
  
  .docs-toggles > .btn,
  .docs-toggles > .btn-group,
  .docs-toggles > .dropdown {
    margin-bottom: 0.5rem;
  }
  
  .docs-tooltip {
    display: block;
    margin: -0.5rem -0.75rem;
    padding: 0.5rem 0.75rem;
  }
  
  .docs-tooltip > .icon {
    margin: 0 -0.25rem;
    vertical-align: top;
  }
  
  .tooltip-inner {
    white-space: normal;
  }
  
  .btn-upload .tooltip-inner,
  .btn-toggle .tooltip-inner {
    white-space: nowrap;
  }
  
  .btn-toggle {
    padding: 0.5rem;
  }
  
  .btn-toggle > .docs-tooltip {
    margin: -0.5rem;
    padding: 0.5rem;
  }
  
  @media (max-width: 400px) {
    .btn-group-crop {
      margin-right: -1rem !important;
    }
  
    .btn-group-crop > .btn {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    .btn-group-crop .docs-tooltip {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  
  .docs-options .dropdown-menu {
    width: 100%;
  }
  
  .docs-options .dropdown-menu > li {
    font-size: 0.875rem;
    padding: 0.125rem 1rem;
  }
  
  .docs-options .dropdown-menu .form-check-label {
    display: block;
  }
  
  .docs-cropped .modal-body {
    text-align: center;
  }
  
  .docs-cropped .modal-body > img,
  .docs-cropped .modal-body > canvas {
    max-width: 100%;
  }
.view{
	text-align: center;
}
.cam{
	text-align: center;
}
.button{
	margin: 10px;
    padding: 5px 13px 5px 13px; 
	border-radius: 15px;
    border: 2px solid transparent;
    color: #fff!important;
    background-color: #4CAF50!important;
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%); 
}